style.css

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 50px 20px;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #4CAF50;
    margin: 0 10px
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
